@{
    ViewBag.Title = "Klean Out Kings Home";
}

<div class="jumbotron">
    <center><h1>Trash Pandas</h1></center>
    <br />
    <center><p class="lead">~Milwaukee's premier garbage removal and recyling service~</p></center>
</div>

<div class="row">
    <div><center><img src="/Content/Pictures/TrashPandas.png" alt="Trash Pandas Logo" /></center></div>
</div>